 .d-non{
   display: none;
   padding:15px;
   border-radius: 50%;
 }
 
 .nums{
    box-shadow: 2px 3px 4px 7px ;
    padding: 3%;
    border-radius: 15px;
    background-color: salmon;
    color: white;
 }
 .nums p{
   text-align: center;
   padding: 1%;
   border-radius: 10px;
 }
 .words{
   padding:3%;
   border-radius: 50%;
 }
.nums:nth-child(odd){
    background-color:rgb(149, 194, 149);
 }

 .shapes img{
   margin: auto;
   width: 80%;
 }
 #myquare{
   border-radius: 20px;
   width: 50%;
   margin: auto;
   padding: 3%;
   font-weight: 900;
 }