
header{
    background-color: salmon;
}

.navbar-nav .nav-link{
    position: relative;
    /* background-image: url(../img/home/Ellipse\ 10.png);
    background-size: cover; */
}
#slider{
    margin: 0 !important;
    /* height: 50vh !important; */
}
.carousel-caption{
    background-color: rgba(8, 4, 4, 0.6);
    width: 70%;
    margin: auto;
    border-radius: 40%;
}
.carousel-caption h2{
    font-weight: 900;
}
.carousel-caption p{
    font-size: 24px;
    font-weight: 700;
}

#resources .row .card{
    background-color: salmon;
    height: 250px;
}
.carousel img{
    height: 500px;
}
#logo{
    padding: -20px;
}
